{% from "bootstrap5/form.html" import render_form %}
{% block content %}
    {% include "header.html" %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/assets/img/login-bg.jpg'); background-size: cover; background-position: center;">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading text-center text-white">
                        <h1 class="display-4">Log In</h1>
                        <span class="lead">Welcome Back!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main class="mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <!-- Flash Message for duplicate registration attempts -->
                    {% with login_messages = get_flashed_messages() %}
                        {% if login_messages %}
                            <div class="alert alert-warning text-center">
                                {% for login_message in login_messages %}
                                    <p>{{ login_message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}

                    <!-- Form Container -->
                    <div class="form-container p-4 bg-white shadow-lg rounded border border-light">
                        <h2 class="text-center mb-4 text-primary">Log In to Your Account</h2>
                        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include "footer.html" %}
{% endblock %}
